<footer>
    <div class="container" >
        <div class="row" style="background-color: #030303 !important;">
            <div class="col-12 col-md-3">
                <a href="home.html"><img class="mb-2" src="img/funkowhiteph.png" alt="Funko" title="Funko"></a>
            </div>
            <div class="col-12 col-md mt-2">
                <div class="funko-soc">
                    <a href="#" target="_blank"> <i class="fab fa-facebook-square fa-2x me-2"></i></a>
                    <a href="#" target="_blank"> <i class="fab fa-twitter fa-2x me-2"></i></a>
                    <a href="#" target="_blank"> <i class="fab fa-instagram fa-2x me-2"></i></a>
                    <a href="#" target="_blank"> <i class="fab fa-youtube fa-2x me-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>