<header>
		
    <div id="funko-nav">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #030303 !important;">
          <div class="container-fluid">
      <a class="navbar-brand" href="/home"><img src="img/funkowhiteph.png" alt="Funko" title="Funko" width="130"></a>
  
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#funko-menu" aria-controls="funko-menu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse my-2" id="funko-menu">
        <div class="navbar-nav">
            <a class="nav-link" href="/products">Products</a>
            <a class="nav-link" href="/featured">Featured</a>
            <a class="nav-link" href="/branches">Branches</a>
        </div>

        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="#"><i class="fas fa-search fa-2x me-2"></i></a>
            <a class="nav-link" href="/sign-in"><i class="fas fa-user-alt fa-2x me-2"></i></a>
            <a class="nav-link" href="/cart-empty"><i class="fas fa-shopping-bag fa-2x me-2"></i></a>
        </div>
  
          </div>
        </div>
    </nav>
    </div>
  
</header>