<!DOCTYPE html>
      <%- include('./partials/header.ejs')  %>

      <%- include('./partials/navbar.ejs')  %>

      <link href="/public/css/branches.css" rel="stylesheet" type="text/css">
      <link href="/public/css/branches.css.map" rel="stylesheet" type="text/css">

    <body>

        <div class="container py-5">
            <center>
                <h1 class="branch-head"> We are now in the Philippines! </h1>
    
                <div class="sign-up">
                    <form action="/sign-up">
                        <button type="submit" class="btn btn-dark btn-lg my-4">SIGN UP HERE!</button>
                    </form>
                </div>
    
                <p class="fs-1 mb-5"> Branches are all over the country in places near you! </p>
            </center>
    
    
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Manila</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Makati</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Taguig</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Pasay</option>
                        <option value="1">Location 1</option>
                        <option value="2">Location 2</option>
                        <option value="3">Location 3</option>
                  </select>
    
                  <select class="form-select" aria-label="Default select example">
                        <option selected>Mandaluyong</option>
                        <option value="1">Location 1</option>
                        <option value="2">Location 2</option>
                        <option value="3">Location 3</option>
                  </select>
    
                  <select class="form-select" aria-label="Default select example">
                        <option selected>Muntinlupa</option>
                        <option value="1">Location 1</option>
                        <option value="2">Location 2</option>
                        <option value="3">Location 3</option>
                  </select>
    
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Marikina</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
              </select>
    
              <select class="form-select" aria-label="Default select example">
                    <option selected>Paranaque</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
              </select>
    
              <select class="form-select" aria-label="Default select example">
                    <option selected>Quezon City</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
              </select>
                </div>
    
                <div class="col-md-4">
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Caloocan</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Antipolo</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Pasig</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                  <select class="form-select" aria-label="Default select example">
                        <option selected>Las Pinas</option>
                        <option value="1">Location 1</option>
                        <option value="2">Location 2</option>
                        <option value="3">Location 3</option>
                  </select>
    
                  <select class="form-select" aria-label="Default select example">
                        <option selected>Laguna</option>
                        <option value="1">Location 1</option>
                        <option value="2">Location 2</option>
                        <option value="3">Location 3</option>
                  </select>
    
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Cavite</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
              </select>
    
              <select class="form-select" aria-label="Default select example">
                    <option selected>Cebu</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
              </select>
    
              <select class="form-select" aria-label="Default select example">
                    <option selected>Naga</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
              </select>
    
              <select class="form-select" aria-label="Default select example">
                <option selected>Legazpi</option>
                <option value="1">Location 1</option>
                <option value="2">Location 2</option>
                <option value="3">Location 3</option>
          </select>
                </div>
    
                <div class="col-md-4">
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Cagayan De Oro</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                    <select class="form-select" aria-label="Default select example">
                          <option selected>Davao</option>
                          <option value="1">Location 1</option>
                          <option value="2">Location 2</option>
                          <option value="3">Location 3</option>
                    </select>
    
                </div>
            </div>
    
        </div>

    <div style="flex-grow:1"></div>

    <%- include('./partials/footer.ejs')  %>

    <script src="js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    </body>
</html>