<!DOCTYPE html>
    <%- include('./partials/header.ejs')  %>

    <%- include('./partials/navbar.ejs')  %>

     <link href="/public/css/sign-up.css" rel="stylesheet" type="text/css">
     <link href="/public/css/sign-up.css.map" rel="stylesheet" type="text/css">
     <link href="/public/css/sign-up.scss" rel="stylesheet" type="text/css">
    
    
    
    <body>

        <div class="container py-5">

            <center>
                <div class="col-12">
                    <img src="img/funkophblack.png" width="250">
                </div>
                <div class="col-12 my-5">
                    <img class="rounded" src="img/signup/Copy of Gears_Pop_Fullpng.png" width="500" style="max-width:100%;">
                </div>
            </center>

            <form class="row g-3 justify-content-center">
                <div class="col-md-4">
                  <input type="text" class="First-Name" id="inputFirstN" placeholder=" First Name" required>
                </div>
                <div class="col-md-4">
                  <input type="text" class="Last-Name" id="inputLastN" placeholder=" Last Name" required>
                </div>
                <div class="col-md-8">
                  <input type="email" class="Email-Address-2" id="inputEmail" placeholder=" Email Address" required>
                </div>
                <div class="col-md-8">
                  <input type="password" class="Password-2" id="inputPwd" placeholder=" Password" required>
                </div>
               
                
                <div class="col-12 text-center">
                    <div class="sign-up-main">
                        <button type="submit" class="btn btn-dark btn-lg my-1 ">SIGN UP</button>
                        <div class="mt-2">
<<<<<<< HEAD
                            <small class="text-dark"> By continuing, you agree to Funko's Term of Use and Privacy Policy.</small><br>
                            <small class="text-dark"> Already have an account? <a href="/sign-in" style="text-decoration: none;"> Log in. </a> </small>
=======
                            <p> By continuing, you agree to Funko's Term of Use and Privacy Policy.</p>
                        <p> Already have an account? <a href="/sign-in" style="text-decoration: none;"> Log in. </a> </p>
>>>>>>> 8d85957c20adfccba84008b7f29dda44af945a4c
                        </div>
                    </div>
                </div>
            </form>
  
        </div>

    <div style="flex-grow:1"></div>

    <%- include('./partials/footer.ejs')  %>


        <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    </body>
</html>